$purple-color: rgb(114, 0, 255);

.discover-filters{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 5px;
    flex-wrap: wrap;
    width: 800px;
}

#header {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

#title {
    float: left;
    margin-left: 14px;
    font-size: 48px;
}

#basket {
    margin-left: 725px;
    font-size: 28px;
    padding-top: 18px;
}

#price {
    color: $purple-color;
}